<div class="container">
  <div class="col-xl-auto bg-secondary" style=" align-content: center; padding: 60px 60px; border: #1b1e21;">
    <h2 style="text-align: center"><u><strong>Routes</strong></u></h2>
    <a (click)="onSubmit()" class="btn btn-success">Get All Routes</a>
    <table *ngIf="getRoutes" class="table">
      <tr>
        <th>#</th>
        <th>Route ID</th>
        <th>Airport ID</th>
        <th>Route</th>
      </tr>
      <tr *ngFor="let route of list; let i = index">
        <td>{{i + 1}}</td>
        <td>{{route.rid}}</td>
        <td>{{route.aid}}</td>
        <td>{{route.routes}}</td>
      </tr>
    </table>
    <a (click)="onSubmit1()" class="btn btn-danger">Back</a>
  </div>
</div>
