<div class="container">
  <div class="col-xl-auto bg-secondary" style=" align-content: center; padding: 60px 60px; border: #1b1e21;">
    <h2 style="text-align: center"><u><strong>Select a Configuration to Proceed</strong></u></h2>
    <div class="col-xl-auto form-group">
        <button (click)="hardConfig()" type="button" class="btn btn-info btn-group-lg">Configure Hardware</button>
        <br><br>
        <button (click)="airConfig()" type="button" class="btn btn-info btn-group-lg">Configure for AirAuth</button>
      <hr>
    </div>
    <a (click)="onBack()" class="btn btn-danger">Back</a>
  </div>
</div>
